<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        
        <div class="navbar-nav"></div>
        {% if not client.is_authenticated %}
          
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/register">Sign Up</a>
        {% else %}
          <a class="navbar-brand" href="/profile">
            <img style="background-color: white" src="{{client.profile_pic}}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
          </a>
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          <a class="nav-item nav-link" id="profile" href="/profile">{{ client.first_name }}</a>
          <a class="nav-item nav-link" id="fileExplorer" href="/file-explorer">File Explorer</a>

        {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div aria-live="polite" aria-atomic="true" style="position: relative;">
            <div class="toast toast-{{category}} mr-5 mt-3 position-fixed" style="min-width:400px !important;top: 0; right: 0;" data-delay="10000">
              <div class="toast-header toast-{{category}}">
                <img src="..." class="rounded mr-2" alt="..."> <!--colocar icon em ves de imagem-->
                {% if category == 'danger' %}
                <strong class="mr-auto text-{{category}}">ERROR</strong>
                {% else %}
                <strong class="mr-auto text-{{category}}">{{category.upper()}}</strong>
                {% endif%}
                <small>right now</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                {{message}}
              </div>
            </div>
          </div>
            <script>
              const toastEl = document.querySelector('.toast');
              const toast = new bootstrap.Toast(toastEl);
              toast.show();
            </script>

        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script> <!--Para inserir js feito por nos, este deve ficar na pasta static-->
  </body>
</html>