{% extends "base.html" %}
{% block title %}Gestor de ficheiros{% endblock %}

{% block content %}

<form method="POST" action="/file-explorer" enctype="multipart/form-data">
    <h3 align="center">Gestor de ficheiros</h3>
    <div class="form-group">
        <input type="file" class="form-control" id="file" name="file">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>



{% if client.files %}

    {% for file in client.files %}
        <div style="display: flex;margin:10px;background-color:whitesmoke;padding:10px;">
            <p style="padding:5px">{{ file.id }}</p>
            <p style="padding:5px">{{ file.filename }}</p>
            <p style="padding:5px">{{ file.uploadDate }}</p>
            <a href="{{ url_for('fileExplorer.download', fileId=file.id) }}"><button type="button" class="btn btn-warning">Download</button></a><a href="{{ url_for('fileExplorer.deleteFile', fileId=file.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
        </div>
    {% endfor%}

{% else %}
    <p>Parece que você não tem ficheiros</p>
{% endif %}


{% endblock %}