{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<h1>Here are your notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in client.notes %}
    <li class="list-group-item">
        <b>{{note.title}}</b>
        {{note.text}}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})"><span aria-hidden="true">&times;</span></button>
    </li>
    {% endfor %}
</ul>


{{ client.email}}
{{ client.first_name}}
{{ client.password}}

<form method="POST">
    <input type="text" class="form-control mg-3" id="title" name="title" placeholder="Note Title">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add note</button>
    </div>
</form>

{% endblock %}