{% extends "base.html" %}
{% block title %}Log in{% endblock %}

{% block content %}

<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email"> 
        <label for="pssw">Password:</label>
        <input type="password" class="form-control" id="pssw" name="pssw" placeholder="Enter Password"> 
        <input type="checkbox" id="remember-me" name="remember-me">
        <label for="remember">Remember me nest time I login</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}