{%extends "base.html"%}
{% block title %}Register{% endblock%}

{% block content %}


<form class="mt-5" method="POST" enctype="multipart/form-data">
    <div class="container">
      <section class="section register d-flex flex-column py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                    <div class="d-inline-flex"> 
                        <div class="col-6 mx-auto">
                            <label for="yourName" class="form-label">First Name</label>
                            <input type="text" name="firstName" class="form-control" id="yourName" required>
                            <div class="invalid-feedback" id="invalid-name">Please, enter your name!</div>
                        </div>

                        <div class="col-6 mx-auto">
                            <label for="yourName" class="form-label">Last Name</label>
                            <input type="text" name="lastName" class="form-control" id="yourName" required>
                            <div class="invalid-feedback">Please, enter your name!</div>
                        </div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Your Email</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback" id="invalid-email" >Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" minlength="7" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>


                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Confirm Password</label>
                        <input type="password" name="password1" class="form-control" minlength="7" id="yourPassword" required>
                        <div class="invalid-feedback" id="invalid-password">Please confirm your password!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Profile Image</label>
                        <input type="file" name="profile_pic" class="form-control" id="profile_pic" accept="image/png, image/jpeg, image/jpg" maxlength="5000000">
                    </div>


                    <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" name="rememberme" type="checkbox" id="acceptTerms">
                          <label class="form-check-label" for="acceptTerms">Remember me</label>
                        </div>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{{url_for('auth.login')}}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
</form><!-- End #main -->


<!--<h3 align="center">Register</h3>
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email"> 
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name"> 
        <label for="pssw">Password:</label>
        <input type="password" class="form-control" id="pssw" name="pssw" placeholder="Enter Password"> 
        <label for="pssw1">Confirm Password:</label>
        <input type="password" class="form-control" id="pssw1" name="pssw1" placeholder="Enter Password Confirmation"> 
        <label for="profile_pic">Profile Pic</label>
        <input type="file" class="form-control" name="profile_pic" id="profile_pic" accept="image/png, image/jpeg, image/jpg" maxlength="5000000">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>-->

{%endblock%}